/* Стили для сайдбара */
aside {
    height: 100vh; /* Высота на всю высоту экрана */
    position: fixed; /* Фиксация сайдбара */
}
main {
    margin-left: 16.6667%; /* Отступ для колонки основного контента (2 из 12 колонок Bootstrap) */
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container-fluid {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
}

main {
    flex: 1;
}

footer {
    flex-shrink: 0;
}