{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    Контакты
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'main/css/video_style.css' %}">
{% endblock %}

{% block content %}
    <div class="albums">
      <h2>АЛЬБОМЫ И EP</h2>
      <p>*Вся дискография Ромы Loqiemean расположена в хронологическом порядке</p>
    </div>

    <!-- Карточки альбомов -->
      <div class="album-cards">
        <!-- Карточка 1 -->
        <div class="album-card">
          <img src="{% static 'main/images/albums/pov3stka.jpg' %}" alt="Пов3стка">
          <div class="album-title">Пов3стка</div>
          <p>2022</p>
          <div class="accordion">
            <div class="card">
              <div class="card-header" id="headingOne1">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                  Смотреть треки
                </button>
              </div>
              <div id="collapseOne1" class="collapse" aria-labelledby="headingOne1">
                <div class="card-body">
                  <ul>
                    <li>Трек 1</li>
                    <li>Трек 2</li>
                    <li>Трек 3</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Карточка 2 -->
        <div class="album-card">
          <img src="{% static 'main/images/albums/kontrol.jpg' %}" alt="Контроль">
          <div class="album-title">Контроль</div>
          <p>2021</p>
          <div class="accordion">
            <div class="card">
              <div class="card-header" id="headingTwo2">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="true" aria-controls="collapseTwo2">
                  Смотреть треки
                </button>
              </div>
              <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2">
                <div class="card-body">
                  <ul>
                    <li>Трек 1</li>
                    <li>Трек 2</li>
                    <li>Трек 3</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Карточка 3 -->
        <div class="album-card">
          <img src="{% static 'main/images/albums/chernaya_metka.jpg' %}" alt="Чёрная метка">
          <div class="album-title">Чёрная метка</div>
          <p>2020</p>
          <div class="accordion">
            <div class="card">
              <div class="card-header" id="headingThree3">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree3" aria-expanded="true" aria-controls="collapseThree3">
                  Смотреть треки
                </button>
              </div>
              <div id="collapseThree3" class="collapse" aria-labelledby="headingThree3">
                <div class="card-body">
                  <ul>
                    <li>Трек 1</li>
                    <li>Трек 2</li>
                    <li>Трек 3</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Карточка 4 -->
        <div class="album-card">
          <img src="{% static 'main/images/albums/zombi_nado_horonit.jpg' %}" alt="Зомби надо хоронить">
          <div class="album-title">Зомби надо хоронить</div>
          <p>2020</p>
          <div class="accordion">
            <div class="card">
              <div class="card-header" id="headingFour4">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour4" aria-expanded="true" aria-controls="collapseFour4">
                  Смотреть треки
                </button>
              </div>
              <div id="collapseFour4" class="collapse" aria-labelledby="headingFour4">
                <div class="card-body">
                  <ul>
                    <li>Трек 1</li>
                    <li>Трек 2</li>
                    <li>Трек 3</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}