{% extends 'main/layout.html' %}

{% block title %}
    Loqiemean
{% endblock %}

{% block content %}
    <div>
        <h3>О Loqiemean</h3>
    </div>
    <br>
    <!-- Блок описания -->
    <div class="description">
      <p>Loqiemean — это уникальный артист, объединяющий музыку, искусство и эмоциональные переживания. Его творчество охватывает жанры от хип-хопа до электронной музыки, рассказывая истории, которые находят отклик в сердцах людей.<br>
      Роман Худяков родился 28 декабря 1993 года в Томске. В 13 лет начал создавать музыку в FL Studio, сначала как любитель, а затем серьёзно увлёкся. До 2011 года писал в стиле хип-хоп,
        но с 2011-го начал экспериментировать с электронной музыкой под проектом Loqiemean. В 2014 году Oxxxymiron пригласил его в свой тур «арХХХеология» как диджея.<br>
        В 2016 году он попал в список новичков «Новый Флоу» и присоединился к объединению Kultizdat, а в 2018 году подписал контракт с Booking Machine.<br>
        За свою музыкальную карьеру рэпер выпустил пять студийных альбомов, четыре мини-альбома и семь музыкальных видеоклипов.
      </p>
    </div>
  </div>
{% endblock %}