{% load static %}
<!-- Sidebar -->
<aside class="col-md-2 bg-dark text-light d-flex flex-column p-3">
    <div class="text-center mb-4">
        <img src="{% static 'main/images/Loqi_Logo.png' %}" alt="Loqi_Logo" width="200" class="rounded-circle mb-2">
        <h4>Loqiemean</h4>
    </div>
    <nav class="flex-grow-1">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link text-light">Главная</a>
            </li>

            <li class="nav-item">
                <a href="{% url 'second' %}" class="nav-link text-light">Контакты</a>
            </li>

            <li class="nav-item">
                <a href="{% url 'third' %}" class="nav-link text-light">Дискография</a>
            </li>

            <li class="nav-item">
                <a href="{% url 'fourth' %}" class="nav-link text-light">Концерты</a>
            </li>

            <li class="nav-item">
                <a href="{% url 'news_home' %}" class="nav-link text-light">Новости</a>
            </li>
        </ul>
    </nav>
</aside>